body {
    /*  Barva pisave pod zna캜ko oz. oznako  */
    color: #333333;
    /*  Dolo캜anje pisave: brskalnik uporabi prvo v seznamu pisav, ki jo ima uporabnik name코캜eno.
       캛e ni name코캜ena nobena od na코tetih pisav, se uporabi privzeta pisava brskalnika. */
    font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
    /*  Velikost pisave lahko dolo캜imo na ve캜 na캜inov.
        Spodnji jo dolo캜i glede na velikost pisave v zna캜ki, ki je na enem nivoju vi코je;
        캜e velikost pisave na zgornjem nivoju ni dolo캜ena, se dolo캜i glede na privzeto velikost pisave v brskalniku. */
    font-size: 1.2em;
    /*  Vi코ina vrstice  */
    line-height: 1.5;
    /*  Najve캜ja 코irina vsebine spletne strani  */
    max-width: 40em;
    /*  말rina zunanjega roba; auto pomeni, da rob izra캜una brskalnik tako, da element zavzame 코irino dolo캜eno v slogu,
        preostanek pa se enakomerno razdeli med levim in desnim robom  */
    margin: auto;
    /*  Obojestranska poravnava besedila    */
    text-align: justify;
}

/*  Odstranimo pod캜rtovanje povezav in outline (ta se v캜asih poka쬰 kot kvadratek okrog povezave)  */
a {
    text-decoration: none;
    outline: none;
}

/*  Spremenimo barve povezav: neobiskanih, obiskanih, pod mi코ko in aktivnih */
a:link {
    color: #cc0000;
}

a:visited {
    color: #660066;
}

/*psevdo-razredi, hover = ko je mi코ka nad zna캜ko*/
a:hover {
    color: #660066;
}

a:active {
    color: #990000;
    outline: none;
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #009966;
}
tbody td:nth-child(1) {
    background-color: #0cd5c1;
}/*razlika med tabelama - prva ni razdeljena na body in head*/

#pot tbody tr:nth-child(even) {
    background-color: #e90707;
}

/*ZNA캛KE*/

/* Glavni gradniki CSS so deklaracije, ki jih sestavimo v bloke in jim dodamo izbiralce, ki dolo캜ijo na katerih elementih se bodo uporabile.
Primer deklaracije:
    color: red;
    font-size: 14px;
Primer bloka z zna캜ko h1:
   h1 {
    color: red;
    font-size: 14px;
    }
*/

/*Sestavljeni izbiralec: staknemo brez presledkov; pri tem moramo paziti na to, da najprej napi코emo izbiralec za zna캜ke ali univerzalni izbiralec. 
Primer: p.poudarjeno zdru쬴 izbiralca p in .poudarjeno: izbere vse zna캜ke p (za odstavke), ki imajo dolo캜en atribut class z vrednostjo poudarjeno.*/

/*Potomce izbiramo s kombinatorjem (presledek). Na primer, izbiralec li a izbere vse povezave (a), ki so v elementih seznama (li).*/

/*Z vejico , zdru쬴mo ve캜 izbiralcev v enega: izbiralec h1, h2 izbere vse zna캜ke h1 in h2.*/

/*zunanji prazen prostor (zunanji rob): angl. margin,
notranji prazen prostor (notranji rob): angl. padding,
obroba oz. rob: angl. border,
vi코ina: angl. height,
코irina: angl. width.*/


/* univerzalni izbiralec (*)- izbere vse elemente na strani */


h1

/* izbiralec za zna캜ko h1 (navaden izbiralec)*/
    {
    color: red;
}

h2 {
    margin-top: 2em;
    border-top-color: #AAAAAA;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 0.5em;
}

#uvod

/* izbiralec za id uvod */
    {
    padding: 2em;
    background-color: rgb(51, 0, 102, 0.1);
}

.slika

/* izbiralec za razred slika */
    {
    /* border: 3px red solid; */
    font-size: 0.9em;
    width: 40%;
    text-align: left;
    float: right;
    margin-left: 2em;
}

.slika img {
    width: 100%;
    height: auto;
}

.slika p:last-child {
    font-size: 0.8em;
    margin-top: 0.5em;
}

a::before {
    content: "游댕";
}

img {
    border-radius: 50%;
}